*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
h1{
    /* background-color: aqua; */
    color: white;
    font-size: 80px;
}
body{
    background-color: black;
    min-height: 100vh;
    display: flex;
    justify-content:center;
    align-items:center;
}